<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461264713981-l5kbq1h3iff1508rv2jcclkl0qpmvuav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461264713981-l5kbq1h3iff1508rv2jcclkl0qpmvuav</string>
	<key>API_KEY</key>
	<string>AIzaSyA1jrVaICAMF2061Q_0go0i7zWeWi9QgfI</string>
	<key>GCM_SENDER_ID</key>
	<string>461264713981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cesaralmendarez.DoneDidIt</string>
	<key>PROJECT_ID</key>
	<string>done-did-it</string>
	<key>STORAGE_BUCKET</key>
	<string>done-did-it.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461264713981:ios:9a6d777927318e3d82a694</string>
</dict>
</plist>